.App {
  font-family:Roboto,sans-serif;    
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie-container {
  width: 340px;
  height:min-content;
}

.movie-poster {
  height: 500px;
  width: 100%;
  /* zoom  in */
  object-fit: cover;
}

.movie-name{
  font-size:24px;
  margin:0;
}

.movie-summary{
  margin-top:0;
}

.movie-rating{
  font-size:18px;
}
/* RAM */
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.movie-list-container{
  display:flex;
  gap:16px;
  flex-wrap:wrap;
  justify-content:space-around;
}

.add-movie-form{
  display:flex;
  flex-direction:column;
  margin-left: 190px;
  margin-top : 50px;
  gap:20px;
  width:30%;
  align-items: stretch;
  align-content: flex-end;
  flex-wrap:wrap
    }

.not-found{
  width:100%;
  object-fit: cover;
}

.movie-details-container{
  max-width: 750px;
  padding:16px;
}
